<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1 class = "pageHeader">About Caravaggio</h1>
    <ul class = "listText">
        <li>He was born in 1571 in Milan</li>
        <li>Caravaggio was a Baroque painter known for dramatic use of light and dark in his art. </li>
        <li>He had a short temper and murdered someone regarding a tennis match dispute while in Rome</li>
        <li>Caravaggio died in 1610 from either sickness, assassination or lead poisoning from the paint he used </li>
    </ul>
    <a href="/home" class = "returnHome">🏠</a>
</body>
</html>