<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caravaggio</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    
    <h1 class = "pageHeader">Welcome to Caravaggio's Webpage!</h1>
    <div class = "homeBody">
    <ul class = "listText homeBullets">
      <li> <a href="/about">Learn About Caravaggio's Life</a></li> 
      <li> <a href="/works">Learn About Caravaggio's Works</a></li>  
  
    </ul>
      <img src="/images/caravaggio.jpeg" class="portrait"/>
</div>
</body>
</html>