<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title> <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1 class = "pageHeader">Caravaggio's Notabale Works</h1>
    <ol class = "listText">
        <li>"The Calling of Saint Matthew" (1599-1600)</li>
        <li>"The Conversion of Saint Paul" (1600-1601) </li>
        <li>"The Crucifixion of Saint Peter" (1601)</li>
        <li>"The Supper at Emmaus" (1601)</li>
        <li>"Bacchus" (1595-1596)</li>
    </ol>
    <a href="/home" class = "returnHome">🏠</a>
</body>
</html>